body {
    background-image: url(Darkspots.jpg);
    Width: 100%;
    Margin: auto;
}

h1 {
    color: white;
    text-align: Center;
    Font-size: 35px;
}
h2 {
    color: white;
    text-align: right;
    Font-size: 20px;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;

}

.mario {
    display: block;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.box1 {
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 12pt;
    font-style: normal;
    text-align: center;
    width:45%;
    margin:auto;
    
    border-top:5px;
    border-top-style: solid;
    border-right:5px;
    border-right-style: solid;
    border-bottom:5px;
    border-bottom-style: solid;
    border-left: 4px;
    border-left-style: solid;
    
    padding-top:20px;
    padding-right:20px;
    padding-bottom:20px;
    padding-left:20px;
}