body {
    background-image: url(Darkspots.jpg);
    Width: 100%;
    Margin: auto;
}

h1 {
    color: white;
    text-align: Center;
    Font-size: 35px;
}
h2 {
    color: white;
    text-align: right;
    Font-size: 20px;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;

}

.picture-grid {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items:center;
    grid-gap: 5px;
    grid-row-gap: 0px;

}

.grid-box {
    border-radius: 5px;
}

.grid-box img {
    width: 100%;
}
